# Tungsten kernel .gitignore
# Copyright (C) 2026 Nexsteaduser. All rights reserved.

src/tungsten/target/
src/tungsten/Cargo.lock
src/hal/build/
src/modules/freetype/**/build/
src/tungsten/*.bin
src/tungsten/*.rlib
src/tungsten/*.a
src/tungsten/*.o
build/
*.log
